body{
	background-color: #E7E8EB;
}
.main{
	background-color: white;
	height: 700px;
}
.manage-head div span{
	font-size: 15px;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
}
.manage-head{
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	margin-left: 0px;
}
.combody{
	margin-left: 20px
}
.addbtn{
	margin-top: 20px;
}
.comp-table{
	margin: 20px;
	width: 75%;
}
.range{
	margin-top: 16px;
}
.range-title{
	padding-left:29px;
	padding-top: 11px;
	font-size: 15px;
	margin-right: -13px;
	
}
