body{
	background-color: #E7E8EB;
}
.main{
	background-color: white;
	height: 700px;
}
.info-head span{
	height: 70px;
	line-height: 70px;
	font-size: 15px;
	font-weight: bold;
}
.info-head{
	border-bottom: 1px solid #EEEEEE;
	padding-left: 20px;
}
.infoform{
	width: 58%;
	margin-top: 20px;
}

 