.main{
	background-color: white;
	padding-top: 20px;
	height: 700px
}
.comp-account{
	height: 100px;
	background-color:  #008AE3;
	width: 300px;
	margin-right: 10px;
	padding-top: 15px;
}
.comp-account div,.award-account div{
	color: white;
}
.icon-comp{
	font-size: 33px;
}
.account{
	font-size: 15px;
}
.award-account{
	height: 100px;
	background-color: #60D295;
	width: 300px;
	padding-top: 15px;
}
.acconut-style{
	margin-left: 39px;
	margin-top: 22px;
}
.msghead{
	margin-top: 20px;
	background-color: #F4F5F9;
	height: 50px;
	color: #444444;
	font-size: 16px;
	font-weight: bold; 
    line-height:50px;   
    overflow:hidden;  
    padding-left: 20px;
}
.madia-msg{
	font-weight: bold;
	font-size: 15px;
}
.mbody{
	background-color:#FEFEFE ;
	border: 1px solid #EEEEEE;
	padding: 5px 15px;
}
.media.msg-part{
	margin: 20px 15px;
}

